In [1]:
import numpy as np
import pandas as pd
import glob
from model.ctabgan import CTABGAN
df = pd.read_csv("Real_Datasets/adult.csv")
#df = df.drop(columns=['Year','Model'])
df = df[['age', 'workclass', 'capital-gain']]
df = df.head(1000)
df.head(10)

   age  workclass  capital-gain
0   25          4             0
1   38          4             0
2   28          2             0
3   44          4          7688
4   18          0             0
5   34          4             0
6   29          0             0
7   63          6          3103
8   24          4             0
9   55          4             0

In [2]:
df.shape

(1000, 3)

In [3]:
synthesizer =  CTABGAN(df,
                 test_ratio = 0.20,
                 categorical_columns = ["workclass"], 
                 log_columns = {}, # Fuck this log, task for tommorrow
                 mixed_columns= {"capital-gain": [0]},
                 gaussian_columns = [],
                 non_categorical_columns = [],
                 integer_columns = [],
                 problem_type= {"Classification": 'Price'})

In [ ]:
synthesizer.fit(30)

  0%|          | 0/30 [00:00<?, ?it/s]

In [13]:
syn = synthesizer.generate_samples(1000)
syn.head(20)

          age  workclass  capital-gain
0   26.814495        0.0   5109.014160
1   41.473720        2.0   3051.718994
2   37.513069        6.0  89969.851562
3   29.815698        2.0   9467.555664
4   26.771445        2.0   4304.833496
5   29.474514        0.0  12374.914062
6   18.576951        1.0      0.000000
7   16.962591        1.0  84618.117188
8   28.919045        5.0  55129.066406
9   39.471542        1.0   1435.515991
10  30.646041        2.0  81553.445312
11  18.004679        6.0   4313.070312
12  27.939811        5.0      0.000000
13  40.195746        2.0  85757.117188
14  18.992692        4.0  11470.737305
15  40.090767        6.0  57465.957031
16  30.071300        7.0  72118.742188
17  27.117426        6.0   9513.709961
18  18.451638        1.0  12895.647461
19  19.100403        5.0  14034.737305