In [2]:
import numpy as np
import pandas as pd
import glob
from model.ctabgan import CTABGAN
df = pd.read_csv("Real_Datasets/car.csv")
df = df.drop(columns=['Year','Model'])

In [5]:

#df.iloc[0, 1] = np.nan
df = df[['Brand', 'Engine_Size', 'Mileage']]
df.head(10)

        Brand  Engine_Size  Mileage
0         Kia          4.2   289944
1   Chevrolet          2.0     5356
2    Mercedes          4.2   231440
3        Audi          2.0   160971
4  Volkswagen          2.6   286618
5      Toyota          2.7   157889
6       Honda          3.4   139584
7         Kia          4.7   157495
8         Kia          2.6    98700
9      Toyota          3.1   107724

In [ ]:
synthesizer =  CTABGAN(df,
                 test_ratio = 0.20,
                 categorical_columns = ["Brand"], 
                 log_columns = {}, # Fuck this log, task for tommorrow
                 mixed_columns= {"Engine_Size": [np.nan]},
                 gaussian_columns = [""],
                 non_categorical_columns = [],
                 integer_columns = [],
                 problem_type= {"Classification": 'Price'})

In [52]:
synthesizer.fit(10)

100%|██████████| 10/10 [01:58<00:00, 11.88s/it]

In [62]:
syn = synthesizer.generate_samples(1000)
syn.head(20)

         Brand  Engine_Size
0   Volkswagen     1.379444
1     Mercedes     4.122351
2     Mercedes     4.922089
3      Hyundai     2.731419
4      Hyundai     1.206600
5         Ford     3.955741
6          Kia     2.194162
7    Chevrolet     3.982883
8   Volkswagen     2.262661
9     Mercedes     1.412163
10        Ford     2.391666
11        Ford     2.800006
12       Honda     4.018498
13     Hyundai     1.361564
14       Honda     2.392635
15    Mercedes     2.501480
16       Honda     4.338626
17        Ford     1.605628
18        Ford     2.534994
19   Chevrolet     4.768315