In [105]:
import numpy as np
import pandas as pd
import glob
from model.ctabgan import CTABGAN
df = pd.read_csv("Real_Datasets/car.csv")
df = df.drop(columns=['Year','Model'])

In [ ]:

#df.iloc[0, 1] = np.nan
df = df.iloc[:, :2]
df.head(10)

        Brand  Engine_Size Fuel_Type    Transmission
0         Kia          4.2    Diesel          Manual
1   Chevrolet          2.0    Hybrid       Automatic
2    Mercedes          4.2    Diesel       Automatic
3        Audi          2.0  Electric          Manual
4  Volkswagen          2.6    Hybrid  Semi-Automatic
5      Toyota          2.7    Petrol       Automatic
6       Honda          3.4  Electric       Automatic
7         Kia          4.7  Electric  Semi-Automatic
8         Kia          2.6    Hybrid          Manual
9      Toyota          3.1    Petrol          Manual

In [108]:
synthesizer =  CTABGAN(df,
                 test_ratio = 0.20,
                 categorical_columns = ["Brand","Fuel_Type","Transmission"], 
                 log_columns = {}, # Fuck this log, task for tommorrow
                 mixed_columns= {"Engine_Size": [np.nan]},
                 gaussian_columns = [],
                 non_categorical_columns = [],
                 integer_columns = [],
                 problem_type= {"Classification": 'Price'})

In [ ]:
synthesizer.fit(1)

  0%|          | 0/1 [00:00<?, ?it/s]

In [100]:
syn = synthesizer.generate_samples(1000)
syn.head(20)

         Brand  Engine_Size Fuel_Type    Transmission
0         Audi     4.437404    Diesel       Automatic
1         Ford     1.636629    Petrol          Manual
2         Ford     2.071208    Diesel          Manual
3       Toyota     3.036066  Electric       Automatic
4          BMW     3.442865    Diesel  Semi-Automatic
5     Mercedes     2.277535  Electric       Automatic
6      Hyundai     3.996226    Hybrid          Manual
7        Honda     4.678020    Hybrid       Automatic
8         Ford     4.711464    Hybrid          Manual
9         Ford     1.256810    Petrol  Semi-Automatic
10    Mercedes     2.893152    Diesel          Manual
11        Audi     3.072862  Electric       Automatic
12       Honda     4.793003    Hybrid  Semi-Automatic
13         BMW     2.871661  Electric  Semi-Automatic
14     Hyundai     4.806636    Hybrid          Manual
15   Chevrolet     2.842674  Electric       Automatic
16         Kia     2.375276    Diesel  Semi-Automatic
17  Volkswagen     1.537609    Petrol       Automatic
18         Kia     1.386352    Petrol          Manual
19        Ford     3.078074    Hybrid          Manual