In [1]:
import numpy as np
import pandas as pd
import glob
from model.ctabgan import CTABGAN
df = pd.read_csv("Real_Datasets/car.csv")

In [2]:
df = df.drop(columns=['Year','Model'])
df.head(10)

,Brand,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,2.6,Hybrid,Semi-Automatic,286618,3,3,2867
5,Toyota,2.7,Petrol,Automatic,157889,4,4,7242
6,Honda,3.4,Electric,Automatic,139584,3,1,11208
7,Kia,4.7,Electric,Semi-Automatic,157495,2,2,7950
8,Kia,2.6,Hybrid,Manual,98700,3,4,9926
9,Toyota,3.1,Petrol,Manual,107724,2,5,6545

In [4]:
synthesizer =  CTABGAN(df,
                 test_ratio = 0.20,
                 categorical_columns = ["Brand","Model","Fuel_Type","Transmission"], 
                 log_columns = [],
                 mixed_columns= {},
                 general_columns = [],
                 non_categorical_columns = [],
                 integer_columns = [],
                 problem_type= {"Classification": 'Price'})

In [5]:
synthesizer.fit(1)

100%|██████████| 1/1 [01:03<00:00, 63.77s/it]

In [10]:
synthesizer.generate_samples(1000)

,Brand,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Hyundai,1.599013,Diesel,Manual,79376.679596,3.985018,2.018061,12317.483628
1,Audi,3.366287,Hybrid,Automatic,19690.728552,2.992146,2.995895,2709.531884
2,Volkswagen,3.937271,Electric,Semi-Automatic,14547.918409,2.987965,2.013134,8316.376164
3,BMW,3.429635,Hybrid,Manual,270567.417020,2.992391,4.982684,10179.703765
4,Chevrolet,4.398721,Petrol,Semi-Automatic,20190.661921,3.994824,1.981214,3509.191195
...,...,...,...,...,...,...,...,...
995,Chevrolet,3.921618,Hybrid,Automatic,216997.280533,2.987220,2.033048,5695.462448
996,Ford,3.702677,Hybrid,Semi-Automatic,165780.014455,2.013975,2.008957,9405.363582
997,Mercedes,4.804429,Hybrid,Automatic,154084.581849,2.998575,3.987799,9911.312966
998,Chevrolet,2.911013,Petrol,Semi-Automatic,78280.206277,3.003502,2.984861,11020.560106
999,Volkswagen,4.945906,Diesel,Manual,122933.130666,2.966342,2.038517,9179.073266