In [1]:
import numpy as np
import pandas as pd
import glob

df = pd.read_csv("datasets/car.csv")
df = df.drop(columns=['Year','Model'])
df = df.head(30)

In [2]:
import numpy as np


df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = np.nan
df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

df.loc[np.random.choice(df.index, size=5, replace=False), 'Doors'] = np.nan

C:\Users\marti\AppData\Local\Temp\ipykernel_7592\3779034627.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Big' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

In [3]:
df.head(20)

,Brand,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,4.2,Diesel,Manual,289944,3.0,5,8501
1,Chevrolet,Big,Hybrid,Automatic,5356,2.0,3,12092
2,Mercedes,Big,Diesel,Automatic,231440,NaN,2,11171
3,Audi,Big,Electric,Manual,160971,2.0,1,11780
4,Volkswagen,2.6,Hybrid,Semi-Automatic,286618,3.0,3,2867
5,Toyota,2.7,Petrol,Automatic,157889,4.0,4,7242
6,Honda,3.4,Electric,Automatic,139584,NaN,1,11208
7,Kia,Big,Electric,Semi-Automatic,157495,2.0,2,7950
8,Kia,NaN,Hybrid,Manual,98700,3.0,4,9926
9,Toyota,NaN,Petrol,Manual,107724,2.0,5,6545
10,BMW,NaN,Hybrid,Automatic,296824,2.0,3,5863
11,Volkswagen,4.5,Hybrid,Manual,42795,4.0,3,11444
12,Honda,Big,Hybrid,Automatic,132875,NaN,4,10842
13,Hyundai,Big,Hybrid,Semi-Automatic,188996,NaN,1,4820
14,Volkswagen,Big,Petrol,Automatic,145921,5.0,2,5981
15,Volkswagen,Big,Diesel,Automatic,60103,2.0,1,9697
16,Hyundai,Big,Electric,Automatic,38133,5.0,2,14837
17,Volkswagen,4.5,Electric,Manual,41161,2.0,2,11576
18,Kia,3.4,Diesel,Semi-Automatic,257427,NaN,3,2351
19,Mercedes,1.5,Petrol,Manual,34640,2.0,1,11207

In [4]:
from model.eval.evaluation import _process_mixed_columns

df2, cat = _process_mixed_columns(df, {'Engine_Size': [np.nan, 'Big']})
df2

,Brand,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price,Engine_Size_categorical,Engine_Size_continuous
0,Kia,Diesel,Manual,289944,3.0,5,8501,__CONTINUOUS__,4.2
1,Chevrolet,Hybrid,Automatic,5356,2.0,3,12092,Big,NaN
2,Mercedes,Diesel,Automatic,231440,NaN,2,11171,Big,NaN
3,Audi,Electric,Manual,160971,2.0,1,11780,Big,NaN
4,Volkswagen,Hybrid,Semi-Automatic,286618,3.0,3,2867,__CONTINUOUS__,2.6
5,Toyota,Petrol,Automatic,157889,4.0,4,7242,__CONTINUOUS__,2.7
6,Honda,Electric,Automatic,139584,NaN,1,11208,__CONTINUOUS__,3.4
7,Kia,Electric,Semi-Automatic,157495,2.0,2,7950,Big,NaN
8,Kia,Hybrid,Manual,98700,3.0,4,9926,__CONTINUOUS__,NaN
9,Toyota,Petrol,Manual,107724,2.0,5,6545,__CONTINUOUS__,NaN
10,BMW,Hybrid,Automatic,296824,2.0,3,5863,__CONTINUOUS__,NaN
11,Volkswagen,Hybrid,Manual,42795,4.0,3,11444,__CONTINUOUS__,4.5
12,Honda,Hybrid,Automatic,132875,NaN,4,10842,Big,NaN
13,Hyundai,Hybrid,Semi-Automatic,188996,NaN,1,4820,Big,NaN
14,Volkswagen,Petrol,Automatic,145921,5.0,2,5981,Big,NaN
15,Volkswagen,Diesel,Automatic,60103,2.0,1,9697,Big,NaN
16,Hyundai,Electric,Automatic,38133,5.0,2,14837,Big,NaN
17,Volkswagen,Electric,Manual,41161,2.0,2,11576,__CONTINUOUS__,4.5
18,Kia,Diesel,Semi-Automatic,257427,NaN,3,2351,__CONTINUOUS__,3.4
19,Mercedes,Petrol,Manual,34640,2.0,1,11207,__CONTINUOUS__,1.5
20,Chevrolet,Hybrid,Automatic,21261,2.0,1,13374,__CONTINUOUS__,1.8
21,Toyota,Hybrid,Semi-Automatic,41814,2.0,2,8863,Big,NaN
22,Toyota,Electric,Manual,136662,5.0,4,6266,__CONTINUOUS__,2.0
23,Ford,Hybrid,Manual,99921,4.0,2,7701,__CONTINUOUS__,2.8
24,Mercedes,Petrol,Semi-Automatic,19868,3.0,4,12402,__CONTINUOUS__,NaN
25,Kia,Diesel,Automatic,92188,2.0,4,8856,__CONTINUOUS__,1.8
26,Audi,Electric,Manual,79350,5.0,3,14413,__CONTINUOUS__,NaN
27,BMW,Electric,Semi-Automatic,142701,5.0,3,10645,__CONTINUOUS__,2.3
28,BMW,Electric,Semi-Automatic,210767,3.0,3,12584,__CONTINUOUS__,4.7
29,Chevrolet,Hybrid,Automatic,121816,4.0,4,9963,__CONTINUOUS__,1.9

In [5]:
mil = df["Mileage"]
mil2 = df["Mileage"][df["Mileage"] < 200000]

In [6]:
dfa = df[:len(df) // 2]
dfb = df[len(df) // 2:]

In [7]:
from model.eval.evaluation import stat_sim2

summary, column_stats= stat_sim2(dfa,dfb,categorical=["Brand","Fuel_Type","Transmission"],mixed={"Engine_Size": ["Big"]})

column_stats

                    Column Metric  Distance    Weight
0                    Brand    JSD  0.264592  1.000000
1                Fuel_Type    JSD  0.232635  1.000000
2             Transmission    JSD  0.142139  1.000000
3                  Mileage     WD  0.245732  1.000000
4              Owner_Count     WD  0.066667  1.000000
5                    Price     WD  0.198988  1.000000
6  Engine_Size_categorical    JSD  0.291999  1.000000
7   Engine_Size_continuous     WD  0.447368  0.333333
8        Doors_categorical    JSD  0.234569  1.000000
9         Doors_continuous     WD  0.125541  0.733333