In [16]:
import numpy as np
import pandas as pd
import glob

df = pd.read_csv("datasets/car.csv")
df = df.drop(columns=['Year','Model','Brand'])

In [17]:
import numpy as np


df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = np.nan

df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

df.loc[0, 'Engine_Size'] = "Big"

#df.loc[np.random.choice(df.index, size=5, replace=False), 'Doors'] = np.nan

In [ ]:


dfa = df[:len(df) // 2]
dfb = df[len(df) // 2:]

x_train = dfa.drop(columns=['Price'])
y_train = dfa['Price']

x_test = dfb.drop(columns=['Price'])
y_test = dfb['Price']


dfa

     Engine_Size Fuel_Type    Transmission  Mileage  Doors  Owner_Count  Price
0            Big    Diesel          Manual   289944      3            5   8501
1            2.0    Hybrid       Automatic     5356      2            3  12092
2            4.2    Diesel       Automatic   231440      4            2  11171
3            2.0  Electric          Manual   160971      2            1  11780
4            2.6    Hybrid  Semi-Automatic   286618      3            3   2867
...          ...       ...             ...      ...    ...          ...    ...
4995         1.0    Diesel          Manual   152865      5            5   6842
4996         3.6    Hybrid       Automatic     2810      5            3  11343
4997         2.0    Hybrid       Automatic   212019      5            1   7359
4998         1.2    Petrol          Manual   165992      4            2   4680
4999         4.5    Diesel  Semi-Automatic   112693      4            3   9946

[5000 rows x 7 columns]

In [22]:
from model.eval.evaluation import get_summary_metrics
utility, similarity, privacy = get_summary_metrics(dfa,dfb,categorical=['Fuel_Type', 'Transmission'], mixed={"Engine_Size":["Big"]},problem="regression")

In [23]:
utility_real = utility[0]
utility_fake = utility[1][0]
print(utility_real)
print(utility_fake)

         MAPE  Explained Variance  R2 Score
dt   0.332670            0.045169  0.045112
rf   0.256190            0.503443  0.503439
hgb  0.247216            0.528422  0.528405
cat  0.244515            0.533524  0.533518
xgb  0.261652            0.445395  0.445392
         MAPE  Explained Variance  R2 Score
dt   0.328137            0.055950  0.055920
rf   0.255371            0.503195  0.502354
hgb  0.248665            0.519944  0.519457
cat  0.247546            0.522004  0.521576
xgb  0.263848            0.457331  0.455596

In [24]:
summary, column_similarity, corr = similarity

print(summary)
print("\n")
print(column_similarity)
print("\n")
print("Difference in correlation:",corr)

  Metric  Weighted_Avg      Mean       Std
0    JSD      0.008350  0.008350  0.002240
1     WD      0.005457  0.005457  0.002711


                    Column Metric  Distance  Weight
0                Fuel_Type    JSD  0.010416   1.000
1             Transmission    JSD  0.008666   1.000
2                  Mileage     WD  0.003866   1.000
3                    Doors     WD  0.009933   1.000
4              Owner_Count     WD  0.004850   1.000
5                    Price     WD  0.002930   1.000
6  Engine_Size_categorical    JSD  0.005969   1.000
7   Engine_Size_continuous     WD  0.005706   0.998


Difference in correlation: 0.008810499361421854

In [25]:
percentiles, nnaa, privacy_score = privacy

In [26]:
print(percentiles)
print("\n")
print(nnaa)
print("\n")
print("Privacy score:",privacy_score)

                rr        ff        rf
nndr_5th  0.356189  0.339601  0.370971
dcr_5th   0.025747  0.025656  0.027126


0.49133333333333334


Privacy score: 1.0553995130423997