In [1]:
import numpy as np
import pandas as pd
import glob

df = pd.read_csv("datasets/car.csv")
df = df.drop(columns=['Year','Model','Brand'])

In [2]:
import numpy as np


df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = np.nan

df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

df.loc[0, 'Engine_Size'] = "Big"

#df.loc[np.random.choice(df.index, size=5, replace=False), 'Doors'] = np.nan

C:\Users\marti\AppData\Local\Temp\ipykernel_6616\902200322.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Big' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[np.random.choice(df.index, size=10, replace=False), 'Engine_Size'] = "Big"

In [3]:
df.head()

  Engine_Size Fuel_Type    Transmission  Mileage  Doors  Owner_Count  Price
0         Big    Diesel          Manual   289944      3            5   8501
1         2.0    Hybrid       Automatic     5356      2            3  12092
2         4.2    Diesel       Automatic   231440      4            2  11171
3         2.0  Electric          Manual   160971      2            1  11780
4         2.6    Hybrid  Semi-Automatic   286618      3            3   2867

In [4]:


dfa = df[:len(df) // 2]
dfb = df[len(df) // 2:]

#dfa = pd.get_dummies(dfa, columns=[ 'Fuel_Type', 'Transmission'], drop_first=True)
#dfb = pd.get_dummies(dfb, columns=[ 'Fuel_Type', 'Transmission'], drop_first=True)

x_train = dfa.drop(columns=['Price'])
y_train = dfa['Price']

x_test = dfb.drop(columns=['Price'])
y_test = dfb['Price']


dfa

     Engine_Size Fuel_Type    Transmission  Mileage  Doors  Owner_Count  Price
0            Big    Diesel          Manual   289944      3            5   8501
1            2.0    Hybrid       Automatic     5356      2            3  12092
2            4.2    Diesel       Automatic   231440      4            2  11171
3            2.0  Electric          Manual   160971      2            1  11780
4            2.6    Hybrid  Semi-Automatic   286618      3            3   2867
...          ...       ...             ...      ...    ...          ...    ...
4995         1.0    Diesel          Manual   152865      5            5   6842
4996         3.6    Hybrid       Automatic     2810      5            3  11343
4997         2.0    Hybrid       Automatic   212019      5            1   7359
4998         1.2    Petrol          Manual   165992      4            2   4680
4999         4.5    Diesel  Semi-Automatic   112693      4            3   9946

[5000 rows x 7 columns]

In [5]:
dfa.describe()

             Mileage        Doors  Owner_Count        Price
count    5000.000000  5000.000000  5000.000000   5000.00000
mean   149259.696000     3.482200     2.997200   8851.25960
std     85861.474198     1.107216     1.423656   3098.27601
min        74.000000     2.000000     1.000000   2000.00000
25%     75019.250000     3.000000     2.000000   6636.00000
50%    149581.000000     3.000000     3.000000   8839.00000
75%    222453.750000     4.000000     4.000000  11086.50000
max    299872.000000     5.000000     5.000000  18301.00000

In [6]:
#supervised_model_training(x_train, y_train, x_test, y_test, "xgbr", "regression")

In [8]:
from model.eval.evaluation import get_summary_metrics

utility, similarity, privacy = get_summary_metrics(dfa,dfb,categorical=['Fuel_Type', 'Transmission'],mixed={"Engine_Size": ["Big"]},problem="regression")

InvalidIndexError: (slice(None, None, None), 'Price')

In [ ]:
utility_real = utility[0]
utility_fake = utility[1][0]
print(utility_real)
print(utility_fake)

In [ ]:
summary, column_similarity, corr = similarity

print(summary)
print("\n")
print(column_similarity)
print("\n")
print("Difference in correlation:",corr)

In [ ]:
percentiles, nnaa, privacy_score = privacy

In [ ]:
percentiles

In [ ]:
nnaa