In [1]:
!pip install gower

from scipy.sparse import issparse
import numpy as np
import pandas as pd

WARNING: Ignoring invalid distribution ~ (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~tab-xtra-dp (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~tab-xtra-dp (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~tab-xtra-dp (C:\Users\marti\AppData\Local\Programs\Python\Python312\Lib\site-packages)

Requirement already satisfied: gower in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (0.1.2)
Requirement already satisfied: numpy in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from gower) (2.1.3)
Requirement already satisfied: scipy in c:\users\marti\appdata\local\programs\python\python312\lib\site-packages (from gower) (1.15.1)

In [ ]:
import numpy as np# Create two DataFrames with random continuous columns
import pandas as pd
import gower
np.random.seed(42)

number_of_records = 10000

df1 = pd.DataFrame({
    'col1': np.random.uniform(-75, 25, number_of_records),
    'col2': np.random.uniform(200, 300, number_of_records),
    'cat1': np.random.choice(['A', 'B', 'C'], number_of_records)
})

df2 = pd.DataFrame({
    'col1': np.random.uniform(-75, 25, number_of_records+1),
    'col2': np.random.uniform(200, 300, number_of_records+1),
    'cat1': np.random.choice(['A', 'B', 'C'], number_of_records+1)
})
#df1.loc[0, 'col1'] = np.nan
# Display the first few rows of each DataFrame
print("DataFrame 1:")
print(df1.head())
print("\nDataFrame 2:")
print(df2.head())
df1[40:].head(10)

DataFrame 1:
        col1        col2 cat1
0 -37.545988  280.543233    A
1  20.071431  276.016093    A
2  -1.800606  215.389990    B
3 -15.134152  214.924947    A
4 -59.398136  226.817437    C

DataFrame 2:
        col1        col2 cat1
0 -39.686221  295.700692    A
1  20.018071  279.306172    C
2 -17.151764  239.831037    B
3 -38.422848  298.239505    C
4  19.960215  234.553575    A

         col1        col2 cat1
40 -62.796177  228.943952    C
41 -25.482309  246.768121    B
42 -71.561148  261.938997    A
43  15.932040  241.119048    A
44 -49.122002  242.748645    A
45  -8.747772  233.028467    C
46 -43.828892  256.423182    A
47 -22.993198  285.057453    B
48 -20.328972  220.152838    C
49 -56.514554  293.443304    B

In [3]:

df1.loc[0, 'col1'] = None
df1.loc[1, 'col1'] = np.nan
df2.loc[0, 'col1'] = None
df1.head()

        col1        col2 cat1
0        NaN  257.199588    B
1        NaN  280.543233    B
2  -1.800606  276.016093    B
3 -15.134152  215.389990    C
4 -59.398136  214.924947    A

In [4]:
df2.head()

        col1        col2 cat1
0        NaN  262.482314    A
1  14.788338  298.808666    C
2 -50.742280  243.841886    A
3 -39.686221  206.625470    C
4  20.018071  295.700692    A

In [45]:
from gower_mix import gower_distance_optimized,gower_distance_optimized2



dist2 = gower_distance_optimized2(df1, df2)

0
1000
2000
3000
4000

In [46]:
dist = gower_distance_optimized(df1, df2)

ones finished
duplicated Xs
fixed Ys

In [ ]:
smallest_index_dist2 = np.unravel_index(np.argmin(dist2, axis=None), dist2.shape)
print("Smallest index in dist2:", smallest_index_dist2)

Smallest index in dist2: (np.int64(3870), np.int64(297))

In [43]:
df1.iloc[3870,:]

col1    -35.474068
col2    203.199446
cat1             A
Name: 3870, dtype: object

In [44]:
df2.iloc[297,:]

col1     -35.47459
col2    203.213087
cat1             A
Name: 297, dtype: object

In [27]:
min_distance_sorted = np.sort(min_distance)
smallest_index = np.argmin(min_distance)
print("Index of smallest distance:", smallest_index)

Index of smallest distance: 3870

In [7]:
# Compute Gower distance
from gower import gower_matrix
gower_distances = gower_matrix(df1, df2)

# Display the shape of the resulting distance matrix
print("Shape of Gower distance matrix:", gower_distances.shape)

Shape of Gower distance matrix: (4000, 4001)